body {
  background-color: #f8ceec;
  background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
  overflow: hidden;
  height: 100vh;
}

.kashish-chata-counter {
  padding: 25px;
  text-align: center;
}

.chata-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vw;
}

.chata-number {
  height: 20vh;
}

@media (max-width: 768px) {
  .chata-wrapper {
    height: 45vh;
  }
  .chata-number {
    height: 10vh;
  }
}